<p id="notice"><%= notice %></p>

<h1>Instructors</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Bio</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @instructor.each do |instructor| %>
      <tr>
        <td><%= instructor.name %></td>
        <td><%= instructor.bio %></td>
        <td><%= link_to 'Show', instructor %></td>
        <td><%= link_to 'Destroy', instructor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<button id="click-me">This button listens for clicks</button>
<div id="our-new-instructors"></div>
