<p id="notice"><%= notice %></p>

<p>
  <h2><strong>Name:</strong></h2>
  <%= @instructor.name %>
</p>

<p>
  <h3><strong>Bio:</strong></h3>
  <%= @instructor.bio%>
</p>

<%= link_to 'Edit', edit_instructor_path(@instructor) %>
<%= link_to 'Back', instructors_path %>
