  <h2>Name:</h2>
  <%= @instructor.name %>
  <h3>Bio:</h3>
  <%= @instructor.bio%>
  <h4>Clients:</h4>
  <%= @instructor.first.name%>
  <%= @instructor.first.age%>
  <%= @instructor.first.goals%>

<%= link_to 'Edit', edit_instructor_path(@instructor) %>
<%= link_to 'Back', instructors_path %>
